##### Universe of Discourse
UoD stands for Universe of Discourse.

- It's essentially the "real world slice" that your database is trying to model.
  Think of it as the conceptual boundary defining what your database cares
  about and represents.


**Simple Example**

If you're building a database for Imperial College's course enrollment system:

UoD includes:
- Students (their names, IDs, year groups)
- Courses (codes, titles, departments)
- Enrollments (who's taking what, grades)
- Lecturers, rooms, timetables, etc.

UoD excludes:
- Students' favourite movies
- Weather in London
- Stock prices

These things exist in the real world, but they're outside the scope of what this
particular database models.


**Why It Matters**

The UoD concept helps you understand the gap between:
1. Reality--The actual real world (infinitely complex)
2. UoD--The subset of reality we care about (conceptual model)
3. Schema--How we structure that in tables/relations
4. Database State--The actual data at any moment

When your exam talks about "integrity constrains" or "the database accurately
reflecting the UoD," it's asking: does the data in your table faithfully
represent the real-world situation you're modelling?


**In Exam Context**

You might see questions like: "Does this constraint ensure the database state
accurately reflects the UoD?" -- which is really asking whether your schema
rules prevent invalid/nonsensical data from being stored.

### Designing a Relational Database Schema

**How do you design a relational database schema for a particular UoD?**

1. Need some way to model sthe semantics of the UoD as a conceptual schema
    - ER (many variants exist)
    - UML class diagrams
2. Need to map the ER/UML schema into a relational schema
3. Need to ensure that the relational schema is a good design
    - Normalisation

### Core $\mathcal{ER}$: Entities and Relationships

**Entities**

$\mathcal{E}$ An entity E represents a set of objects which conceptually are the same type
of things
- nouns -> entity set
- proper nouns imply instances, which are not entity sets.


**Relationships**

$\mathcal{R}$ A relationship R represents a set of tuples of objects where each tuple is some
type of conceptual assosciation between entities $E_1$, $E_2$
- verbs -> relationship
- $$R \subseteq \{<e_1, e_2> | e_1 \in E_1 \land e_2 \in E_2 \}$$


**Identifying entities and relationships**

In News Ltd, each person works in exactly one department; there are no 
restrictions on the number of persons a department may employ.

### Core $\mathcal{ER^{KMO}}$: Attributes of Entities

**Attributes $\mathcal{ER^M \; ER^O \; ER^K}$**

- $\mathcal{M}$ - A mandatory attribute E.A is a function that maps from entity
  set E to value set V.
    1. $E.A. \subseteq \{<e, v> | e \in E \land v \in V\}$
    2. $unique: <e, v_1> \in E.A \land <e, v_2> \in E.A. \rightarrow v_1 = v_2$
    3. $mandatory: E = {e | <e, v> \in E.A.}$
    
    nouns that describe or identify other nounds might be attributes.
- $\mathcal{O}$ an optional attribute rmemoves property (3)
- $\mathcal{K}$ certain attribute(s) $E.A_1 ... E.A_n$ of $E$ are denoted by key
  attributes s.t. 
  $E = \{<v_1, ... v_n> | <e, v_1>\; \in E.A1 \land ... \land <e,v_n> \in E.A_n\}$

##### Explaining $\mathcal{ER^KMO}$ by Examples

**The Setup**

We have a `person` entity with attributes: `salary_number` (key, underlined),
`name` (mandatory), `bonus` (optional, marked with ?)

Let's say we have these people in our database:
- Person e1: salary_number = 1001, name = 'Alice', bonus = 500
- Person e2: salary_number = 1002, name = 'Bob', bonus = NULL


**The Three Properties Explained**

- Property 1: $E.A. \subseteq \{<e, v> | e \in E \land v \in V\}$
  - "An attribute is a set of entity-value pairs"
  - `person.name` is essentially a set of pairs:

    ```person.name = {<e1, "Alice">, <e2, "Bob">}```
  - `person.bonus` is:

    ```person.bonus = { <e1, 500> }     -- e2 has no bonus, so no pair exists```

- Property 2: Unique - $<e, v_1> \in E.A \land <e, v_2> \in E.A \rightarrow v_1 \ v_2$
  - "Each entity can only have ONE value for an attribute"
  - If $<e1, "Alice"> \in person.name$, you can't also have 
    $`<e1, "Charlie">` \in $ person.name$.
  - One person can't have two different names simultaneously. This is what makes
    it a function--each entity maps to at most one value.

- Property 3: Mandatory -- $E = {e | <e, v> \in E.A}$
  - "Every entity MUST have a value for this attribute"
  - For `person.name` (mandatory): Every person must appear in at least one
    pair. Both e1 and e2 must have names.
  - From `person.bonus` (optional): This property is removed. e2 can exist
    without appearing in any bonus pair (i.e., NULL is allowed).


**Key Attributes (K)**

- "The key attribute(s) uniquely identify entities"
- $E = \{<v_1, ... , v_n> | <e, v_1> \in E.A_1 \land ... \land <e, v_n> \in E.A_n\}$
- For `person`, the key is `salary_number`. This means:
  - The set of all salary_numbers IS effectively the set of all persons
  - No two persons can share the same salary_number
  - salary_number = 1001 uniquely identified Alice.

---

- Key: Must be unique, identify the entity
- Mandatory: Must have a value (no NULLs)
- Optional: Can be missing (NULLs allowed)

---

**Identifying attributes**

We record the name of each person working in the department; and identify them
by their salary number. Optionally they might have a bonus figure recorded. 
Departments are identified by their name.

### $\mathcal{ER^L}: Look-Here Cardinality Constraints$

**$\mathcal{ER^L}$**

- An upper bound cardinality constraint $U$ states that each instance of $E_1$
  may appear at most $U$ times in $R$. An upper bound of $N$ indicates no limit.
- Additionally with $\mathcal{ER^O}$: a lower bound cardinality constraint $L$
  states that each instance of $E_1$ must appear at least $L$ times in $R$.


**Adding Look-here Cardinality Constraints in $\mathcal{ER^{LO}}$**

- Each person works in exactly one department; there are no restrictions on the
  number of persons a department may employ.

---

Here is the breakdown of the business rules in the text vs. the notation:

### 1. Analyze "x" (The Branch Side)
* **The Question:** Can a Branch exist without a Town? (Is the minimum 0 or 1?)
* **Logic:** A physical bank branch *must* be located geographically somewhere. It cannot exist in a void. The text also leads with *"Branches based in towns..."*, implying that being in a town is a defining characteristic of a branch.
* **Conclusion:** The participation of `branch` is **Mandatory (1)**.
* **Constraint:** A branch is in exactly one town.
* **Result:** **`x = 1:1`**

> **Why B is incorrect:** Option B suggests `x = 0:1`. This implies that a Branch could optionally exist *without* being in any town at all. This contradicts the physical reality of a branch and the phrasing of the text.

### 2. Analyze "y" (The Town Side)
* **The Question:** Can a Town exist without a Branch?
* **The Clue:** The text says, *"area managers are only assigned to **towns that have branches**."*
* **Logic:** This specific phrasing implies there is a distinction between "towns with branches" and "towns without branches." If every single town was required to have a branch (Total Participation), they wouldn't need to specify "towns that have branches"—they would just say "all towns." The fact that they filter for it implies that **towns with 0 branches** are a valid state in the database.
* **Conclusion:** The participation of `town` is **Optional (0)**.
* **Constraint:** A town can have many branches.
* **Result:** **`y = 0:N`**

### Final Verdict
* **x (Branch):** 1:1 (Must be in a town).
* **y (Town):** 0:N (Town exists, but might not have branches yet).

This matches **Option A**.

---

### $\mathcal{ER^C}: Look-Across Cardinality Constraints$

- $\mathcal{ER^L}$: This course uses *look-here* cardinality constraints: state
  the number of occurences of the entity next to the constraint.
- $\mathcal{ER^C}$: Other variants of ER modelling use *look-across* cardinality
  constraints.

- For binary relationships, $\mathcal{ER^L}$ and $\mathcal{ER^C}$ are equally
  expensive.

### $\mathcal{ER^S}$: subset\isa hierachy

**$\mathcal{ER^S}$**
- $\mathcal{S}$: if it is found that the instances of one entity $E_S$ are a
  subset of another entity $E$, we may add a **subset** constraint.
- $E_S \subseteq E$
  - **specialisation of nounds** $\rightarrow$ subset


**Identifying subsets with $\mathcal{ER^S}$**

Some employees are ranked as managers, and receive a mobile phone.

##### Worksheet: ER Modelling

- salaries, status, joining date, name, payroll number
- employees
- division
- account number, name, address

- employees sent aboard, address, country, telephone number, foreign tax office.

---

##### Mapping $\mathcal{ER^{KLMOS}}$ to a relational model: entities and attributes

- Taking a *table per type (TPT)* approach, there is a simple mapping of
  entities and attributes to tables and columns:
  1. Each entity $E$ maps to a table $R_E$
  2. Each attribute $A$ maps to a column $C_A$ of $R_E$
  3. If A is an optional attribute, then $C_A$ is nullable, otherwise $C_A$ is
     not nullable.
  4. If $\vec{K}$ are key attribute(s), then $\vec{C_K}$ are a key of $R_E$.

##### $\mathcal{ER^{KLMOS}} to a relational model: relationships$

- Taking a *table per type (TPT)* approach, for each relationship $R$ between
  $E_1$, $E_2$ entities $E_1$, $E_2$ maps to $R_1$, $R_2$ as before, and
    1. If $R$ is a many-many relatiomnship when it maps to
      1. a table 
      2. a foreign key
      3. a foreign key
    2. If $R$ is a one-many relationship then it maps to
      1. A column $\vec{K_2}$ in $R_1$
      2. a forign key $R_1(\vec{K_2}) \stackrel{fk}{\Rightarrow} R_2(\vec{K_2})$
      3. If the participation of E_1 in R is optional, then $\vec{K_2}$ is an
      optional column of $R_1$.

---

##### SQL Pattern Matching

**Testing Strings against a Pattern in ANSI SQL**
```SQL
WHERE column LIKE pattern ESCAPE escape_char;
```
- Will return TRUE where pattern matches column. The escape_char may be used
  before any of the special characters below to allow them to be treated as 
  normal text.
  - `_` to match a single character.
  - `%` to match any number (including zero) of characters


**Testing Strings against a Pattern in Transact SQL**
- In addition to ANSI SQL patterns:
    - Transact SQL: `[A-Z]` to match a character between A and Z
    - Transact SQL: `[ABC]` to match a characters between A, B and C.


**List customers whose first initial is P, and have one more initial (ANSI SQL)**
```SQL
SELECT cname
FROM account
WHERE cname LIKE '%, P. _.';
```

```SQL
SELECT cname
FROM account
WHERE cname LIKE '%, [A-L].%';
```


**Modifications to data in ANSI SQL**
- Many functions proposed in ANSI SQL
    - Any processing of data appear in a result set must be placed in the 
      `SELECT` clause.
    - Any processing of data to filter data mustbe placed in the `WHERE` clause.


**SQL General Functions**
- `COALESCE(val1, val2, ...)`: first non-NULL value from val1, val2, ...
- `GREATEST(val1, val2, ...)`: greatest value from val1, val2, ..., or null is 
                                one is `NULL`
- `LEAST(val1, val2, ...)`: least value from val1, val2, ..., or null if one is
                                `NULL`
- `CAST(val AS type)`: converts a value to a specified datatype


```SQL
SELECT no,
       COALESCE(rate, 0.00) AS current_rate,
       GREATEST(COALESCE(rate, 0.00), 5.30) AS new_rate
FROM   account
```

##### SQL String Processing

**SQL String Functions**
- `CHAR_LENGTH(str)`
    * Returns the number of characters in a string.
- `TRIM(LEADING pattern FROM str)`
    * Removes the leading characters in pattern from a string.
- `TRIM(TRAILING pattern FROM str)`
    * Removes the trailing characters in pattern from a string.
- `TRIM(str)`
    * Removes leading and trailing spaces from a string.
- `POSITION(substr IN str)`
    * Finds the position (counting from 1) of the substr in the str.
- `SUBSTRING(str FROM start FOR no)`
    * Extract from `str`, `no` characters, starting from position `start`.
- `str1 || str2`
    * Concatenate two strings ogether
- `UPPER(str)`
    * returns the string converted to all capitals
- `LOWER(str)`
    * returns the string converted to all small letters


```SQL
-- Display accounts with just surname and rounded rates (ANSI SQL)
SELECT no
       SUBSTRING(cname FROM 1 FOR POSITION(',' IN cname)-1) AS surname
       ROUND(COALESCE(rate?, 0.00), 1) AS 1_dp_rates
FROM   account
```


**SQL Math Functions**
```SQL
SIN(num)        -- num (measured in radians)
ASIN(num)
COS(num)
ACOS(num)
TAN(num)
ATAN(num)
LN(num)
LOG10(num)
SQRT(num)
POWER(num, exp)
EXP(num)
ABS(num)
```

```SQL
SELECT cname,
       SUBSTRING(address, CHARINDEX(',', address)+2, LEN(address)) AS area
FROM   customer
WHERE  phone LIKE '02089[4-7]%';
```

---

##### Processing the resul of project: `CASE` statements

A `CASE` statement may be used to return alternative values depending on
condition. Two forms:

> Chooses which statemen to return based on the value of expr

`CASE expr WHEN v1 THEN ... WHEN v2 THEN ... END`

> Chooses which statement to return based on which cond1, cond2 is first `TRUE`

`CASE WHEN cond1 THEN ... WHEN cond2 THEN ... END`


```SQL
SELECT no
       COALESCE(rate?, 0.00) AS rate
       CASE rate WHEN rate = 0.00 THEN 'zero rate'
                 WHEN rate < 5.3  THEN 'low rate'
                 WHEN rate >= 5.3 THEN 'high rate' END
                 AS interest_class
                 -- `ELSE` condition is available for use too
FROM   account
```

##### SQL OLAP features: Ordering Rows

- `ORDER BY` presents data to a user in specified order, but data is not 
  changed.
- Default is `ASC`ending order
- Can specify `DESC`ending order
- To limit the number of rows returned, use `FETCH FIRST` or `FETCH NEXT`

```SQL
SELECT mid,
       tdate,
       amount
FROM movement
ORDER BY amount DESC
```

```SQL
SELECT mid,
       tdate,
       amount
FROM movement
ORDER BY amount DESC
OFFSET   3
FETCH    NEXT 4 ROWS ONLY
```
---

##### SQL OLAP features: `GROUP BY`

**Aggregate Functions**
- `SUM`
    - Sum the values of all rows in the group
- `COUNT`
    - Count the number of non-`NULL`rows in the group
- `AVG`
    - Average of the non-`NULL` values in the group
- `MIN`
    - Minimum value in the group
- `MAX`
    - Maximum value in the group
- `ANY_VALUE`
    - A random non-`NULL` value from the group (new in SQL:2023)
- `ARRAY_AGG`
    - Generate an array containing all the values of the group
- `STDDEV_POP`
    - Calculates the population standard deviation


**`GROUP BY` rules**
- Only one row output per group
- *ANSI SQL says must apply aggregate function to non grouped columns*


```SQL
SELECT no,
       SUM(amount) AS balance,
       COUNT(amount) AS trans,
FROM   movement
GROUP BY no
```

---

- Use `GROUP BY` on all non aggregated columns
```SQL
SELECT no,
       SUM(amount) AS balance,
       COUNT(amount) AS trans
FROM   movement
GROUP BY no
```

- Choose bag or set semantics for `COUNT`
```SQL
SELECT COUNT(DISTINCT no) AS active_accounts,
       COUNT(no) AS no_movements
FROM   movement
```

- `NULL` attributes don't count!
```SQL
SELECT COUNT(rate) AS no_rates -- COUNT() doesn't pick up NULL rows... of course
FROM   account
```

```SQL
SELECT movement.no,
       COUNT(movement.amount) AS no_trans,
       MIN(movement.amount) AS min_value,
FROM   movement NATURAL JOIN account
GROUP BY movement.no
```

- `NATURAL JOIN` in SQL throws out (excludes) unmatched rows. It only returns
  rows where matching values exist for all common columns in both tables being
  joined.

---
---

Here is the breakdown of why `A` is the forbidden one, and why your guess (`D`)
is actually perfectly fine.

**The "Golden Rule" of `GROUP BY`**

In standard ANSI SQL, if you use a `GROUP BY` clause, every single column in
your `SELECT` list must satisfy one of these two conditions:

1. It appears in the `GROUP BY` clause.
2. It is wrapped inside an **Aggregate Function** (like `SUM`, `AVG`, `COUNT`,
   `MIN`, `MAX`).


**Why A is Wrong**
```SQL
SELECT no, cname, AVG(rate) ... GROUP BY no
```
- `no`: OK (It is in the `GROUP BY`).
- `AVG(rate)`: OK (It is an aggregate function).
- `cname`: ILLEGAL. It is **not** in the `GROUP BY` clause, and it is **not**
   inside an aggregate function (like `MIN(cname)`)
   - The Logic: The database asks, "If there are multiple names for group `100`,
                which one should I show?" Even if we don't know `no` is unique,
                the strict SQL syntax checker rejects this because it doesn't
                know which `cname` to pick.


**Why D is Valid**
```SQL
SELECT AVG(rate)
FROM   account
```
- This is a "Global Aggregation."
- If you don't simply provide a `GROUP BY` clause, SQL treats the entire table 
  as one single group. It will simply return one row containing the average rate 
  of all accounts. This is perfectly legal.

You guessed `C`, which implies two very common misconceptions about how SQL
aggregates handle `NULL`.

2. How `COUNT(column)` works
   - You likely guessed "4" because there are 4 rows.
     - `COUNT(*)`: Counts all rows (Result = 4).
     - `COUNT(column)`: Counts only non-NULL values in that column.
        - Since one row has a `NULL` amount, SQL ignores it.
        - **Result: 3**

3. How `MIN(column)` works
   - You likely guessed `NULL` because you thought the `NULL` value "poisons"
     the calculation (like it does in math: `1 + NULL = NULL`).
     - **Aggregates are different:** Functions like `MIN`, `MAX`, `SUM`, `AVG`
       ignore `NULL`s completely. They pretend the `NULL` isn't even there.


---

```SQL
SELECT movement.no,
       SUM(movement.amount) AS balance
FROM   movement
GROUP BY movement.no
```

The answer is actually `C`.

You are half-right in your logic for `D`, but you missed a crucial distinction
between how SQL handles "`NULL` values inside a sum" versus "`NULL` keys in a
group."

1. Why `D` is wrong (The "Grouping" Rule)
   - You guessed `D` because you thought the rows where `no = NULL` would be 
     thrown out entirely.
     - **Rule:** `GROUP BY` does not filter out rows. It treats `NULL` as a
                 valid group "bucket". All rows where `no` is `NULL` are
                 gathered together into one single group.
     - *If you wanted OptionD, you would need to write:*
       `WHERE movement.no IS NOT NULL` before the group by.

2. Why A and B are Wrong (The "Bucket" Rule)
   - Option A and B show multiple rows for `NULL`.
     - **Rule**: In `GROUP BY`, all `NULL`s are considered equal. They fall into
       the same bucket. You cannot have multiple result rows for the same group
       key.

- Summary:
  * `GROUP BY`: Keeps `NULL` keys (treats them as a valid category).
  * `SUM()`: Ignores NULL values (treats them as nothing).

##### Selecting result from aggregates: `HAVING`

**`GROUP BY` in the RA**
- An extension to the RA includes a group by operator
- In SQL, the `GROUP BY` operator is applied *outside* the $\sigma_{P}(...\times...)$
- To execute a $\sigma_P$ outside the `GROUP BY`, you must place the predicates
  $P$ in a `HAVING clause`

---

You are extremely close, but there is one crucial **operator** missing in the middle of your equation that changes everything.

If you write $\sigma_{P'} (\sigma_{P} (\ldots))$, you are just applying two filters to **individual rows** one after another. That is effectively just `WHERE condition1 AND condition2`.

The `HAVING` clause implies a **structural change** to the data (Aggregation) happened in between.

### The Missing Operator: Gamma ($\gamma$)

In Extended Relational Algebra, we use the script gamma ($\gamma$) to represent **Grouping and Aggregation**.

The correct flow for a query with `HAVING` looks like this:

$$\underbrace{\sigma_{\text{having}}}_{\text{Filter Groups}} \left( \underbrace{\gamma_{\text{grouping}}}_{\text{Make Buckets}} \left( \underbrace{\sigma_{\text{where}}}_{\text{Filter Rows}} ( \text{Data} ) \right) \right)$$


### Why your formula is different
Let's look at the difference physically using a "Students" table.

**1. Your Formula:** $\sigma_{GPA > 3.0} (\sigma_{Year = 2} (Students))$
* **Step 1:** Filter for 2nd years.
* **Step 2:** Filter those specific students for high GPAs.
* **Result:** A list of **individual students**.

**2. The HAVING Formula:** $\sigma_{Count > 10} (\gamma_{Major, Count(*)} (\sigma_{Year = 2} (Students)))$
* **Step 1 (WHERE):** Filter for 2nd years.
* **Step 2 (GROUP BY/$\gamma$):** Crush those students into "Major" buckets and count them. **(The individual student rows are now gone!)**
* **Step 3 (HAVING):** Filter the *Major buckets* to keep only big majors.
* **Result:** A list of **Majors** (not students).

### Summary
* **$\sigma_P$ (WHERE):** Operates on **Rows**.
* **$\gamma$ (GROUP BY):** Transforms Rows into **Groups**.
* **$\sigma_{P'}$ (HAVING):** Operates on **Groups**.

So, `HAVING` is indeed a select ($\sigma$), but it is a select applied to the **result of an aggregation**, not the original table.

---

**Transction analysis of bank_branch**

```SQL
SELECT no,
       SUM(amount) AS balance,
       COUNT(amount) AS no_trans
FROM   movement
GROUP BY no
HAVING SUM(amount) > 2000
```


**Ordering of SQL clauses**
- `HAVING` is executed after `GROUP BY`, but before `SELECT`
- Can be used to avoid divide by zero errors

```SQL
SELECT no,
       MAX(amount)/MIN(amount) AS variance_ratio
FROM   movement
GROUP BY movement.no
HAVING   MIN(amount) <> 0
```


---

**The SQL "Assembly Line" (Execution Order)**

When you run a query, the database engine does not read it top-to-bottom. It 
executes it in this specific logical order:
1. `FROM` & `JOIN`: Gather all the raw data tables.
2. `WHERE`: Filter out specific *rows* you don't wamt.
3. `GROUP BY`: (The Buckets are Made Here!) Collapse the remaining rows into 
   piles (groups). Calculate the aggregates (SUM, COUNT) for these piles
   internally.
4. `HAVING`: (The Filter) Look at the piles created in Step 3. Throw any pile
   that doesn't meet the criteria (e.g. `SUM < 2000`).
5. `SELECT`: (The Label Maker) Take the surviving piles and decide which columns
   to show the user. Assign names (Aliases) to them.
6. `ORDER BY`: Sort the final output.

---

**BE WARY OF "ALIAS TRAP"**

The short answer is **No, usually you cannot.**

In **Standard ANSI SQL** (and most strict database exams), writing `HAVING balance > 2000` will cause an error like *"Unknown column 'balance'"*.

Here is why, based on the **Order of Execution** we just discussed:

### The Problem: Timing

Remember the "Assembly Line":

1.  **`FROM`** (Get Data)
2.  **`WHERE`** (Filter Rows)
3.  **`GROUP BY`** (Make Buckets)
4.  **`HAVING`** (Filter Buckets) $\leftarrow$ **You are here.**
5.  **`SELECT`** (Assign Names/Aliases) $\leftarrow$ **The name "balance" is created here.**

When the database engine is running the **`HAVING`** step, it hasn't reached the **`SELECT`** step yet. Therefore, the name `balance` **does not exist yet**. The database doesn't know what you are talking about.

### The Correct Way (Standard SQL)

You must repeat the calculation inside the `HAVING` clause, just like the slide does:

```sql
HAVING SUM(amount) > 2000
```

-----

### The "Real World" Exception (MySQL)

If you try this at home on **MySQL** or **MariaDB**, it will actually work\!

The developers of MySQL decided that this rule was annoying, so they programmed their database to "look ahead" into the `SELECT` clause to see if an alias exists. However, **PostgreSQL, SQL Server, and Oracle** (and your professor, most likely) follow the strict standard and will reject it.

**Safe Bet:** For exams and portable code, **always repeat the aggregate function** (`SUM(amount)`) inside the `HAVING` clause.

```SQL
SELECT account.no,
       account.cname,
       SUM(movement.amount) AS balance
FROM   account NATURAL JOIN movement
WHERE  movement.amount > 200
GROUP BY account.no,
         account.cname
HAVING COUNT(movement.no) > 1
   AND SUM(movement.amount) > 1000
```

---

**Part 1: What does `GROUP BY no, cname` mean?**

When you list multiple columns in a `GROUP BY`, you are telling the database:
"Make a bucket for every unique COMBINATION of these columns."

- Example: If you had a store inventory, `GROUP BY Color, Size` would create 
  buckets like:
  - {Red, Small}
  - {Red, Large}
  - {Blue, Small}
- In this specific question: Because `no` (Account ID) is unique, adding `cname`
  doesn't actually change the number of buckets. Account 100 is always "McBrien"
- Why do it? As we discussed in the previous question, strict SQL **requires**
  it. If you want to `SELECT cname`, you must put `cname` in the `GROUP BY`
  clause (or aggregate it).


**Part 2: Why did Account 100 dissapear? (The Trap)**

To see why the answer is A, we have to follow the *Order of Execution* 
religiously.

- Step 1: The `WHERE` Clause (The Pre-Filter) `WHERE movement.amount > 200`. 
  Before we even start grouping, we look at individual rows.
  - Account 100 transactions:
    ...
  - Result for 100: Only 1 row survives entering the group bucket.

- Step 2: The `GROUP BY` We create the buckets.

- Step 3: The `HAVING` Clause (The Post-Filter) `HAVING COUNT(movement.no) > 1`
  Now we check the size of the buckets created in `Step 2`.
  - Bucket 100: ...
  ...
  - Bucket 101: ...

*Summary*

The reason the answer is A (only movement.no=101 remains) is because the `WHERE`
clause killed the small transactions for account 100 first. This reduced its 
count to 1, causing it to fail the `HAVING` check later.

##### Relationally Complete SQL

- Relational completeness in SQL means being able to fully support the RA in
  SQL
- The five primitive operators of the RA can be fully supported by SQL
- SQL Aggregates require *relationally complete SQL*: allow `SELECT` statements
  in `FROM` clause.

```SQL
SELECT   no,
         SUM(amount) AS balance,
         ROUND(100*SUM(amount), 1)
FROM     movement CROSS JOIN
         (
            SELECT SUM(amount) AS total
            FROM   movement
         ) AS total_balance
GROUP BY no,
         total
ORDER BY no
```

---

# Window Functions $ `PARTITION BY` - Complete Guide

**What Are Window Functions?**

Wndow functions perform calculations across a set of rows that are somehow 
related to the current row, without collapsing rows like `GROUP BY` does.

*The Key Insight*
- `GROUP BY`: Many rows -> One row per group (Aggregation)
- `WINDOW`:   Many rows -> Same rows, but with extra calculated columns


---
### GROUP BY vs Window Functions
**GROUP BY Example:**
```SQL
-- What's the total movement amount per account?
SELECT no,
       SUM(amount) AS total
FROM movement
GROUP BY no;

**Result:**
no  | total
----|--------
100 | 2086.78    ← 3 movements collapsed into 1 row
101 | 5230.00    ← 2 movements collapsed into 1 row
103 | 145.50
107 | 245.56
119 | 5600.00
```
Problem: We lost the indiivual movement details!


---
**Window Function Example:**
```SQL
-- "Show each movement AND the total for its account"
SELECT mid,
       no,
       amount,
       SUM(amount) OVER (PARTITION BY no) AS account_total
FROM movement;

**Result:**
mid  | no  | amount   | account_total
-----|-----|----------|---------------
1000 | 100 | 2300.00  | 2086.78    ← All 3 rows for account 100
1002 | 100 | -223.45  | 2086.78    ← still here with same total
1006 | 100 | 10.23    | 2086.78    ← 
1001 | 101 | 4000.00  | 5230.00    ← Both rows for account 101
1008 | 101 | 1230.00  | 5230.00    ←
1005 | 103 | 145.50   | 145.50
1004 | 107 | -100.00  | 245.56
1007 | 107 | 345.56   | 245.56
1009 | 119 | 5600.00  | 5600.00
✅ **Benefit:** Every row is preserved + we see the aggregate!
```

##### `PARTITION BY` Explained

**`PARTITION BY`** divides rows into groups (partitions) for the window function
to operate on.

Think of it like this:
- `GROUP BY` = "Collapse into groups"
- `PARTITION BY` = "Draw invisible boundaries, but keep all rows""

```SQL
### Visual from Your Slide:
Original movement table          After PARTITION BY no
┌────────────────────┐          ┌────────────────────┐
│ mid  no   amount   │          │ mid  no   amount   │
├────────────────────┤          ├────────────────────┤
│ 1000 100  2300.00  │          │ 1000 100  2300.00  │ ─┐
│ 1001 101  4000.00  │          │ 1002 100  -223.45  │  │ Partition 1 (no=100)
│ 1002 100  -223.45  │   ──►    │ 1006 100   10.23   │ ─┘
│ 1004 107  -100.00  │          │ 1001 101  4000.00  │ ─┐
│ 1005 103   145.50  │          │ 1008 101  1230.00  │ ─┘ Partition 2 (no=101)
│ 1006 100    10.23  │          │ 1004 107  -100.00  │ ─┐
│ 1007 107   345.56  │          │ 1007 107   345.56  │ ─┘ Partition 3 (no=107)
│ 1008 101  1230.00  │          │ 1005 103   145.50  │ ── Partition 4 (no=103)
│ 1009 119  5600.00  │          │ 1009 119  5600.00  │ ── Partition 5 (no=119)
```


The window function then operates within each partition independently.

---

##### Window Function Syntax
```SQL
FUNCTION_NAME(...) OVER (
    [PARTITION BY column(s)]        -- Define partitions (groups)
    [ORDER BY column(s)]            -- Order within partition
    [frame_clause]                  -- Which rows to include
)
```

**Examples:**
```SQL
-- No partition (entire table is one window)
SUM(amount) OVER ()

-- Parition by account number
SUM(amount) OVER (PARTITION BY no)
```